@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  position: relative;
  background-color: #060606;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 50px 0 200px;
}

.header .menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button__arrow {
  width: 12px;
  height: 12px;
}

.motorcycle {
  padding: 0 0 110px 0;
}

.motorcycle__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  max-height: 1115px;
  height: 100%;
  background: #fcb300;
}

.motorcycle__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.motorcycle__picture {
  display: inline;
  z-index: 2;
  max-width: 638px;
}

.motorcycle__title {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #151515;
  font-size: 120px;
  line-height: 106px;
  font-weight: 700;
  -webkit-transform: translateX(-35px) translateY(40px);
          transform: translateX(-35px) translateY(40px);
}

.motorcycle__title span {
  color: #ffffff;
}

.scroll {
  margin-top: 220px;
}

/* 1 Section Motorcycle END */
.specifications {
  padding: 175px 0 100px 0;
}

.specifications__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1528px;
  width: 90%;
  margin: 0 auto;
}

.specification__block {
  max-width: 510px;
  color: #ffffff;
}

.h3-title {
  margin-bottom: 45px;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: -2px;
}

.specification__text {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -2px;
}

.text-mb40 {
  margin-bottom: 40px;
}

.text-mb25 {
  margin-bottom: 25px;
}

.button {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -1px;
  text-decoration: underline;
  color: #fcb300;
}

.specification__motorcycle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 682px;
  width: 90%;
}

.specification__motorcycle__picture {
  -webkit-transform: translateY(55px) translateX(55px);
          transform: translateY(55px) translateX(55px);
}

.specification__motorcycle-title {
  position: absolute;
  top: 0;
  z-index: -1;
  font-size: 264px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  background-image: url(../img/text-overlay.png);
  background-position: -146px -295px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.specification__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  margin-top: 100px;
}

#circle {
  width: 173px;
  height: 173px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -2px;
  color: #ffffff;
  border: 1px solid red;
}

/* 2 Section Specifications END */
.about_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 320px 1fr;
      grid-template-columns: 1fr 320px 1fr;
  -ms-grid-rows: 1130px;
      grid-template-rows: 1130px;
  grid-gap: 20px;
  max-width: 1214px;
  width: 100%;
  margin: 0 auto;
}

.comfort__block {
  border: 1px solid red;
}

.about-moto__block {
  background: -webkit-gradient(linear, left top, left bottom, from(#fcb300), to(#fcb402));
  background: linear-gradient(#fcb300, #fcb402);
  border: 1px solid red;
}

.performance__block {
  border: 1px solid red;
}

.block-vert-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h4-title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.about__text {
  padding: 0 80px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: -1px;
  text-indent: 5px;
}

.about__circle-href {
  width: 40px;
  height: 40px;
  margin: 50px auto 0;
  background: #fcb300;
  border-radius: 50%;
}

.about-moto__block__img {
  width: 100%;
}

/* 3 Section About END */
.power {
  padding: 255px 0 125px 0;
}

.power__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 1154px;
  margin: 0 auto;
}

.power__block__text {
  padding-top: 60px;
}

.power-title {
  margin-bottom: 30px;
}

.power__text {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -1px;
}

.motorcycle-rotate__block {
  position: absolute;
  right: -250px;
}

.power__newsletter {
  position: absolute;
  top: 240px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: -1px;
  text-decoration: underline;
}

.newsletter-line {
  position: absolute;
  top: 245px;
  right: calc(100% + 10px);
  max-width: 462px;
  width: calc(30vw - 25%);
  height: 3px;
  background: #fcb300;
}

.power__bottom {
  margin-top: 565px;
}

.power__social-href {
  padding-right: 40px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.contact-social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__text {
  margin-right: 20px;
  font: 500 16px 'Poppins', sans-serif;
}

.social-href {
  margin-left: 20px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */