@import "./scss/design";
@import "./scss/reset";

body {
    position: relative;
    background-color: #060606;
    font-family: 'Josefin Sans', sans-serif;
}

@import "./scss/header";

@import "./scss/sections";

@import "./scss/footer";

@import "./scss/media";