@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Poppins:wght@500&display=swap");
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 10px 0px 20px 0px #363636;
          box-shadow: inset 10px 0px 20px 0px #363636;
}

body::-webkit-scrollbar-thumb {
  background-color: #fcb300;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  position: relative;
  background-color: #060606;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 50px 0 200px;
}

.header .menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header .menu-button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-button__arrow {
  width: 12px;
  height: 12px;
  -webkit-animation: fade-down 3s cubic-bezier(0, 0.46, 0.58, 1) infinite;
          animation: fade-down 3s cubic-bezier(0, 0.46, 0.58, 1) infinite;
}

@-webkit-keyframes fade-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes fade-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

.hover-menu {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: 1;
  background: #1b1b1b28;
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
}

.hover-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
}

.menu-close-btn {
  width: 30px;
  height: 30px;
  margin-bottom: 20vh;
  background: url(../img/CLOSE.svg) no-repeat;
  cursor: pointer;
}

.main-nav__href {
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
  color: #ffffff;
}

.main-nav__list-item {
  margin-bottom: 5vh;
  text-align: center;
}

.main-nav__list-item:nth-last-child(1) {
  margin-bottom: 0;
}

.active {
  display: block;
}

.motorcycle {
  padding: 0 0 110px 0;
}

.motorcycle__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  max-height: 1115px;
  height: 100%;
  background: #fcb300;
}

.motorcycle__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.motorcycle__picture {
  display: inline;
  z-index: 2;
  max-width: 638px;
}

.motorcycle__title {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #151515;
  font-size: 120px;
  line-height: 106px;
  font-weight: 700;
  -webkit-transform: translateX(-35px) translateY(40px);
          transform: translateX(-35px) translateY(40px);
}

.motorcycle__title span {
  color: #ffffff;
}

.scroll {
  margin-top: 220px;
  cursor: pointer;
  -webkit-animation: up-and-down 6s linear infinite;
          animation: up-and-down 6s linear infinite;
}

@-webkit-keyframes up-and-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes up-and-down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0.75;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

/* 1 Section Motorcycle END */
.specifications {
  padding: 175px 0 100px 0;
}

.specifications__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1528px;
  width: 100%;
  margin: 0 auto;
}

.specification__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.specification__block__text {
  max-width: 485px;
  width: 100%;
  color: #ffffff;
  -webkit-transform: translateX(188px);
          transform: translateX(188px);
}

.h3-title {
  margin-bottom: 45px;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: -2px;
}

.specification__text {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -2px;
}

.text-mb40 {
  margin-bottom: 40px;
}

.text-mb25 {
  margin-bottom: 25px;
}

.button {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -1px;
  text-decoration: underline;
  color: #fcb300;
}

.specification__motorcycle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 682px;
  width: 90%;
}

.specification__motorcycle__picture {
  -webkit-transform: translateY(55px) translateX(55px);
          transform: translateY(55px) translateX(55px);
}

.specification__motorcycle-title {
  position: absolute;
  top: 0;
  z-index: -1;
  font-size: 264px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  background-image: url(../img/text-overlay.png);
  background-position: -146px -295px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.specification__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  margin-top: 100px;
}

#circle {
  width: 173px;
  height: 173px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -2px;
  color: #ffffff;
  border: 1px solid red;
}

/* 2 Section Specifications END */
.about_wrapper {
  max-width: 1154px;
  width: 100%;
  margin: 0 auto;
}

.about__block-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comfort__block {
  max-width: 295px;
}

.about-moto__block {
  height: 1130px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcb300), to(#fcb402));
  background: linear-gradient(#fcb300, #fcb402);
}

.performance__block {
  max-width: 295px;
}

.block-vert-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h4-title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.about__text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: -1px;
  text-indent: 5px;
}

.about__circle-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  margin: 50px auto 0;
  background: #fcb300;
  border-radius: 50%;
}

.about__circle-href::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.plus-href {
  font-size: 21px;
  font-weight: 400;
  color: #ffffff;
}

.about-moto__block__img {
  width: 100%;
}

/* 3 Section About END */
.power {
  padding: 255px 0 125px 0;
}

.power__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 1154px;
  margin: 0 auto;
}

.power__block__text {
  padding-top: 60px;
}

.power-title {
  margin-bottom: 30px;
}

.power__text {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -1px;
}

.motorcycle-rotate__block {
  position: absolute;
  right: -250px;
}

.power__newsletter {
  position: absolute;
  top: 240px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: -1px;
  text-decoration: underline;
}

.newsletter-line {
  position: absolute;
  top: 245px;
  right: calc(100% + 10px);
  max-width: 462px;
  width: calc(30vw - 25%);
  height: 3px;
  background: #fcb300;
}

.power__bottom {
  margin-top: 565px;
}

.power__social-href {
  padding-right: 40px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.footer {
  padding-bottom: 80px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
}

.contact-social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
  font-size: 24px;
}

.form__block {
  max-width: 375px;
  width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #373737;
  border-radius: 2px;
}

.subscribe-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #aeb0b5;
}

.email {
  max-width: 300px;
  width: 100%;
  padding: 18px 0 18px 24px;
  font: 400 16px 'Josefin Sans', sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.email::-webkit-input-placeholder {
  font: 400 16px 'Josefin Sans', sans-serif;
  color: #aeb0b5;
}

.email:-ms-input-placeholder {
  font: 400 16px 'Josefin Sans', sans-serif;
  color: #aeb0b5;
}

.email::-ms-input-placeholder {
  font: 400 16px 'Josefin Sans', sans-serif;
  color: #aeb0b5;
}

.email::placeholder {
  font: 400 16px 'Josefin Sans', sans-serif;
  color: #aeb0b5;
}

.btn-submit {
  padding: 18px 18px 18px 18px;
  font: 400 16px 'Josefin Sans', sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.social__text {
  margin-right: 20px;
  font: 500 16px 'Poppins', sans-serif;
}

.social-href {
  margin-left: 20px;
  color: #ffffff;
}

.footer-line {
  max-width: 1170px;
  width: 100%;
  height: 1px;
  margin: 60px 0 45px;
  background: #2c2c2c;
}

/* ------------ */
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h5-title {
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 400;
  color: #aeb0b5;
  text-transform: uppercase;
}

.menu-href {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.list-item {
  margin-bottom: 18px;
}

.list-item:nth-last-child(1) {
  margin-bottom: 0;
}

.contact-us__block {
  max-width: 475px;
  width: 100%;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__subtitle {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #aeb0b5;
}

.contacts-href {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.phone-block {
  padding-left: 85px;
}

.copyright {
  margin-top: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  font-weight: 300;
  color: #aeb0b5;
}

.text-underline {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */