@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Poppins:wght@500&display=swap');

$White: #ffffff;
$Orange: #fcb300;
$FooterGrey: #aeb0b5;

// Custom Scrollbars

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 10px 0px 20px 0px #363636;
}

body::-webkit-scrollbar-thumb {
    background-color: $Orange;
}