.motorcycle {
  padding: 0 0 110px 0;
}

.motorcycle__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  max-height: 1115px;
  height: 100%;
  background: $Orange;
}

.motorcycle__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.motorcycle__picture {
  display: inline;
  z-index: 2;
  max-width: 638px;
}

.motorcycle__title {
  position: absolute;
  top: 0;
  z-index: 1;
  color: #151515;
  font-size: 120px;
  line-height: 106px;
  font-weight: 700;
  transform: translateX(-35px) translateY(40px);

  span {
    color: $White;
  }
}

.scroll {
  margin-top: 220px;
  cursor: pointer;
  animation: up-and-down 6s linear infinite;
}

$RangeTranslateY: 30px;

@keyframes up-and-down {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  25% {
    transform: translateY(-$RangeTranslateY);
    opacity: 0.75;
  }

  50% {
    transform: translateY(0px);
    opacity: 1;
  }

  75% {
    transform: translateY($RangeTranslateY);
    opacity: 0.75;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* --- Special Info in IMG ---*/

.motorcycle__inform__full-control {
  position: absolute;
  transform: translate(-53px, -10px);
  z-index: 99;
  display: block;
}

.motorcycle__inform__comfort {
  position: absolute;
  transform: translate(244px, 126px);
  z-index: 99;
  display: block;
}

.motorcycle__inform__stability {
  position: absolute;
  transform: translate(360px, 295px);
  z-index: 99;
  display: block;
}

.motorcycle__inform__performance {
  position: absolute;
  transform: translate(29px, 387px);
  z-index: 99;
  display: block;
}

.info-text {
  margin-bottom: 4px;
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: end;
}

.info-block__lines {
  display: flex;
}

.info-block__lines-height-1 {
  height: 36px;
}

.info-block__lines-height-2 {
  height: 12px;
}

.info-block__lines-height-3 {
  height: 0px;
}

.info-block__lines-height-4 {
  height: 36px;
}

.reverse-block {
  transform: rotate3d(1, 0, 0, 180deg);
}

.info-block__lines-black {
  border-top: 2px solid #3b3b3b;
  border-left: 2px solid #3b3b3b;
}

.info-block__black-width-1 {
  width: 100px;
}

.info-block__black-width-2 {
  width: 274px;
}

.info-block__black-width-3 {
  width: 100px;
}

.info-block__black-width-4 {
  width: 100px;
}

.info-block__lines-white {
  width: 55px;
  border-top: 2px solid $White;
}

.motorcycle__inform__circle-href {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: $Orange;
  border-radius: 50%;
  transform: translate(-7px, 8px);
  cursor: pointer;
}

.motorcycle__inform__circle-href::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px dashed #3b3b3b;
  border-radius: 50%;
  transform: rotate(180deg);
  // background: url(../img/border-dashed.png) no-repeat;
}

.motorcycle__inform__circle-href__stability-fix {
  transform: translate(-25px, -7px);
}

.reverse-block-href-translate {
  transform: translate(-7px, -60px);
}

.reverse-block-text-translate {
  transform: translate(0px, 33px);
}

/* 1 Section Motorcycle END */

.specifications {
  padding: 175px 0 100px 0;
}

.specifications__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1528px;
  width: 100%;
  margin: 0 auto;
}

.specification__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.specification__block__text {
  max-width: 485px;
  width: 100%;
  color: $White;
  transform: translateX(188px);
}

.h3-title {
  margin-bottom: 45px;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: -2px;
}

.specification__text {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -2px;
}

.text-mb40 {
  margin-bottom: 40px;
}

.text-mb25 {
  margin-bottom: 25px;
}

.button {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -1px;
  text-decoration: underline;
  color: $Orange;
}

.specification__motorcycle {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 682px;
  width: 90%;
}

.specification__motorcycle__picture {
  transform: translateY(55px) translateX(55px);
}

.specification__motorcycle-title {
  position: absolute;
  top: 0;
  z-index: -1;
  font-size: 264px;
  line-height: 1.2;
  font-weight: 700;
  color: $White;
  background-image: url(../img/text-overlay.png);
  background-position: -146px -295px;
  background-clip: text;
  color: transparent;
  transform: translateY(-30px);
}

.specification__stats {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: 100px;
}

/* CIRCLE ------------------- */

// #circle {
//   width: 173px;
//   height: 173px;
//   font-size: 48px;
//   line-height: 1.2;
//   font-weight: 300;
//   letter-spacing: -2px;
//   color: $White;
//   border: 1px solid red;
// }

.circular-container {
  width: 174px;
  height: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular {
  width: 174px;
  height: 174px;
  position: relative;
}

.circular .inner,
.circular .outer,
.circular .circle {
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
}

.circular .inner {
  top: 50%;
  left: 50%;
  height: 155px;
  width: 155px;
  transform: translate(-50%, -50%);
  background-color: #060606;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.circular .circle {
  z-index: 1;
  box-shadow: none;
}

.circular .numb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 10;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -2px;
  color: $White;
}

.numb-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  z-index: 11;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -2px;
  color: $Orange;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  //background: #fff;
  border-radius: 100%;
  clip: rect(0px, 174px, 174px, 87px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  clip: rect(0px, 87px, 174px, 0px);
}

.progress-2 {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background: #2e2e2e;
}

.circle .bar .progress {
  background: $Orange;
}

.dot span {
  background: transparent;
}

.circle .left .progress {
  z-index: 1;
  animation: left 2s linear both;
}

@keyframes left {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.circle .right {
  z-index: 3;
  transform: rotate(180deg);
}

.circle .right .progress {
  animation: right 1.5s linear both;
  animation-delay: 2s;
}

@keyframes right {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(125deg);
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.circle .dot {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  animation: dot 4s linear both;
  transform-origin: 0% 50%;
}

.circle .dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

@keyframes dot {
  0% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(90deg);
    z-index: 4;
  }

  100% {
    transform: rotate(270deg);
    z-index: 4;
  }
}

/* END CIRCLE ------------------- */

/* 2 Section Specifications END */

.about_wrapper {
  max-width: 1154px;
  width: 100%;
  margin: 0 auto;
}

.about__block-grid {
  display: flex;
  justify-content: space-between;
}

.comfort__block {
  max-width: 295px;
}

.about-moto__block {
  height: 1130px;
  background: linear-gradient($Orange, #fcb402);
}

.performance__block {
  max-width: 295px;
}

.block-vert-align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h4-title {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.about__text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: -1px;
  text-indent: 5px;
}

.about__circle-href {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 50px auto 0;
  background: $Orange;
  border-radius: 50%;
}

.about__circle-href::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px dashed $White;
  border-radius: 50%;
  transform: rotate(180deg);
  // background: url(../img/border-dashed.png) no-repeat;
}

.plus-href {
  font-size: 21px;
  font-weight: 400;
  color: $White;
}

.about-moto__block__img {
  width: 100%;
}

/* 3 Section About END */

.power {
  padding: 255px 0 125px 0;
}

.power__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1154px;
  margin: 0 auto;
}

.power__block__text {
  padding-top: 60px;
}

.power-title {
  margin-bottom: 30px;
}

.power__text {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -1px;
}

.motorcycle-rotate__block {
  position: absolute;
  right: -250px;
}

.power__newsletter {
  position: absolute;
  top: 240px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: $White;
  letter-spacing: -1px;
  text-decoration: underline;
}

.newsletter-line {
  position: absolute;
  top: 245px;
  right: calc(100% + 10px);
  max-width: 462px;
  width: calc(30vw - 25%);
  height: 3px;
  background: $Orange;
}

.power__bottom {
  margin-top: 565px;
}

.power__social-href {
  padding-right: 40px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: $White;
}